[submodule "frontend"]
	path = frontend
	url = https://github.com/Janluke0/oxycloud-frontend
[submodule "backend"]
	path = backend
	url = https://github.com/Janluke0/oxycloud-backend
[submodule "docs"]
	path = docs
	url = https://github.com/Janluke0/OxyCloud-docs
